<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Bienvenido a IMS-Web 👋</h1>
    <p>Hola, {{ nombreUsuario }}</p>
  </header>

  <div class="quick-actions">
    <h2>Acciones Rápidas</h2>

    <div class="action-buttons">
      <button *ngIf="tienePermiso('USUARIOS_MANAGE')" routerLink="/usuarios" class="btn-action">
        Configuración de Usuarios
      </button>

      <button *ngIf="tienePermiso('ROLES_MANAGE')" routerLink="/roles" class="btn-action">
        Gestión de Roles
      </button>

      <button *ngIf="tienePermiso('PRODUCTO_READ')" routerLink="/productos" class="btn-action">
        🛒 Productos
      </button>

      <button
        *ngIf="tienePermiso('MOVIMIENTO_READ') || tienePermiso('MOVIMIENTO_MANAGE')"
        routerLink="/ventas"
        class="btn-action"
      >
        💸 Ventas / Movimientos
      </button>

      <button
        *ngIf="tienePermiso('MOVIMIENTO_LUGAR_MANAGE')"
        routerLink="/inventario/nuevo"
        class="btn-action"
      >
        📋 Inventario
      </button>

      <button *ngIf="tienePermiso('CATEGORIA_READ')" routerLink="/categorias" class="btn-action">
        📂 Categorías
      </button>

      <button *ngIf="tienePermiso('DESCUENTO_READ')" routerLink="/descuentos" class="btn-action">
        💰 Descuentos
      </button>

      <button
        *ngIf="tienePermiso('MOVIMIENTO_LUGAR_MANAGE')"
        routerLink="/lugares"
        class="btn-action"
      >
        🏢 Gestión de Áreas de almacenaje
      </button>
    </div>
  </div>
</div>
