<mat-toolbar color="primary">
  <button mat-button (click)="volver()">⬅ Volver</button>
  <span style="flex: 1; text-align: center">INVENTARIO</span>
  <span>📤</span>
</mat-toolbar>

<div class="container">
  <div *ngIf="estado === 'inicio'">
    <button mat-raised-button color="primary" (click)="estado='agregar'">
      📷 ESCANEAR PRODUCTO
    </button>

    <button mat-stroked-button (click)="estado='agregar'">✏️ INGRESAR CÓDIGO</button>
  </div>

  <div *ngIf="estado === 'agregar'">
    <mat-card>
      <input matInput placeholder="Código de barras" [(ngModel)]="codigo" />
      <button mat-button (click)="buscarProducto()">Buscar</button>
    </mat-card>

    <mat-card *ngIf="productoEncontrado">
      <h2>{{productoEncontrado.productoNombre}}</h2>
      <p>{{productoEncontrado.categoria?.categoriaNombre}}</p>
      <p><strong>Stock actual:</strong> {{productoEncontrado.productoStock}}</p>

      <div>
        <button mat-stroked-button (click)="disminuir()">-</button>
        <span style="margin: 0 15px; font-size: 1.2rem">{{cantidad}}</span>
        <button mat-stroked-button (click)="aumentar()">+</button>
      </div>

      <button mat-button color="warn" (click)="reset()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="agregarProducto()">
        Agregar a la lista
      </button>
    </mat-card>
  </div>

  <div *ngIf="estado === 'lista'">
    <h2>PRODUCTOS INGRESADOS</h2>

    <mat-card
      *ngFor="let item of lista"
      (click)="seleccionarParaEditar(item)"
      style="margin-bottom: 10px; cursor: pointer"
    >
      <h3>{{item.productoNombre}}</h3>
      <p>{{item.categoria?.categoriaNombre}}</p>
      <strong>Cantidad a ingresar: {{item.cantidadAgregada}}</strong>
    </mat-card>

    <div
      class="acciones"
      style="margin-top: 20px; display: flex; flex-direction: column; gap: 10px"
    >
      <button mat-button (click)="estado='agregar'; reset()">➕ Agregar más productos</button>
      <button mat-stroked-button (click)="guardar()">Guardar borrador</button>
      <button mat-raised-button color="primary" (click)="finalizar()">
        Finalizar y Enviar a BD
      </button>
    </div>
  </div>

  <div *ngIf="estado === 'editar'">
    <mat-card>
      <h2>Editando: {{productoEditando.productoNombre}}</h2>
      <p>{{productoEditando.categoria?.categoriaNombre}}</p>

      <div>
        <button mat-stroked-button (click)="disminuir()">-</button>
        <span style="margin: 0 15px; font-size: 1.2rem">{{cantidad}}</span>
        <button mat-stroked-button (click)="aumentar()">+</button>
      </div>

      <button mat-button color="warn" (click)="eliminar(productoEditando); estado='lista'">
        Sacar de la lista
      </button>
      <button mat-raised-button color="primary" (click)="modificarProducto()">
        Modificar cantidad
      </button>
    </mat-card>
  </div>
</div>
